@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GIES</h1>
    <p class="lead">GIES is Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to GIES Application</h2>
        <p>
            All thing in here!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>